@inherits BasePage
@page "/credits"


<article class="animate__animated @GetStyleClass()">
    <h1>Photolog</h1>
    <p>Made with Blazor & .NET MAUI</p>
    <p>using <a href="https://animate.style/">Animate.css</a> and <a href="https://picocss.com/">Pico.css</a></p>
    <p>by Timo S.</p>
    <button @onclick="GoToMainMenu">Back to main menu</button>
</article>
