@page "/error"
@inherits BasePage

<article class="animate__animated @GetStyleClass()">
    <h1>Error</h1>
    <h4>There was an error: @errorMessage </h4>
    <button @onclick="GoToMainMenu">Back to main menu</button>
</article>
