@page "/"
@inherits BasePage

<article class="animate__animated  @GetStyleClass()">

    @if (PhotoReady())
    {
        <h1>Time to take a picture for today!</h1>
        <button @onclick="OpenCamera">Open camera</button>
    }
    else
    {
        <h1>Photo taken for today! you can find it in your gallery.</h1>
        <h2>check back in @TimeUntilPhoto()</h2>
    }
    <button class="secondary" @onclick="GoToSettings">Settings</button>
</article>
