@page "/camera"




@if (!String.IsNullOrEmpty(imageSource))
{
    <article class="animate__animated @GetPhotoStyle()">
        <img src="@imageSource">
    </article>
}

<article class="animate__animated @GetButtonStyle()">
    <div class="grid">
        <button @onclick="SaveToGallery">Save</button>
        <button @onclick="TakePhoto">Retake</button>
    </div>
</article>



