@page "/camera"


@if (!String.IsNullOrEmpty(imageSource))
{
    <article class="animate__animated animate__backInDown">
        <img src="@imageSource">
    </article>
}

<article>
    <div class="grid">
        <button @onclick="SaveToGallery">Save</button>
        <button @onclick="TakePhoto">Retake</button>
    </div>
</article>



